*{
    padding: 10;
    margin: 0;
}
header{
    background-color: #4f403b;
}
h1{
    color: rgb(79, 222, 136);
    padding: 30px 50px;
}
header ul{
    position:absolute;
    color: aquamarine;
    right: 10px;
    top: 10px;
    line-height: 60%;
}
h1 {
    position:absolute;
    left: 240px;
    top: 10px;
    line-height: 50px;
    background-image: url("夏屿/25a857622c6580b479de3e3581f2c37.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 210px;
    text-indent: -240px;
}
.回忆{
    color: rgb(157, 104, 167);
    height: 95vh;
    background-image: url("轮播图/10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.回忆{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.回忆 h2{
    font-size: 60px;
}
.同事{
    background-image: url("夏屿/微信图片_20241224205755.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.同事{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.同事 h3{
    font-size: 60px;
}
.同事 a{
    color: rgb(158, 110, 231);
    text-decoration: none;
}
.初屿{
    background-image: url("夏屿/d5a2cd24bc0eede8d2e06d943917b46.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.初屿{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.初屿 h4{
    font-size: 60px;
}
.初屿 a{
    color: rgb(111, 125, 203);
    text-decoration: none;
}
.结尾{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.结尾{
    background-color: #4268af;
}
.结尾 p{
    font-size: 20px;
}
.结尾 a{
    color: black;
}
